{% extends 'layouts/base.html' %}
{% load static %}
{% block 'content' %}

<h1 style="text-align: center;margin: 30px;"> Edit Book </h1>
<div style=" width: 60% ; margin: 40px;"  >
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control" value="{{ author.name }}">
  </div>
    <div class="mb-3">
    <label class="form-label">Image</label>
    <input type="file" name="image" class="form-control">
    <img src="{{ author.image_url }}" alt="Book Image" style="width: 100px; height: 100px;">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}
